body {
    background: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 27px;
}

#gitHub {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
}

a :visited {
    color: white
}

a {
    color: white
}